<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 	<!-- show only Ruby in the squids, rest is html
 	use paragraph tags for the html -->
 <h2> Team Name: <%= @name %></h2>
 <p> Coach: <%= @coach %></p>
 <p>  Point Guard: <%= @point_guard %></p>
 <p> Shooting Guard: <%= @shooting_guard %></p>
 <p> Small Forward: <%= @small_forward %></p>
 <p> Power Forward: <%= @power_forward %></p>
 <p> Center: <%= @center %></p>
 </body>
</html>


