<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
        <h1>Team Name: &nbsp;<%=@tn %> </h2>
        <h2>Coach: &nbsp;<%=@coach %> </h2>
        <h3>Point Guard: &nbsp;<%=@pg %> </h2>
        <h3>Shooting Guard: &nbsp;<%=@sg %> </h3>
        <h3>Small Forward: &nbsp;<%=@sf %> </h3>
        <h3>Power Forward: &nbsp;<%=@pf %> </h3>
        <h3>Center: &nbsp;<%=@c %> </h3>

 </body>
</html>


