<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Basketball Team!</h1>
   Team Name: <%=@team_dat[:name]%>
   Coach: <%=@team_dat[:coach]%>
   Point Guard: <%=@team_dat[:pg]%>
   Shooting Guard: <%=@team_dat[:sg]%>
   Small Forward: <%=@team_dat[:sf]%>
   Power Forward: <%=@team_dat[:pf]%>
   Center: <%=@team_dat[:c]%>
 </body>
</html>
