<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 Team Name: <%= @basketballTeam[:name] %>
 Coach: <%= @basketballTeam[:coach] %>
 Point Guard: <%= @basketballTeam[:pg] %>
 Shooting Guard: <%= @basketballTeam[:sg] %>
 Power Forward: <%= @basketballTeam[:pf] %>
 Small Forward: <%= @basketballTeam[:sf] %>
 Center: <%= @basketballTeam[:c] %>

 </body>
</html>
